/*.json
.pytest_cache
.idea
*.pyc
output_file
/tempbots/
*.log
*.log.*
.venv
.ipynb_checkpoints
stockfish-*
*.csv
gameLogs/
test_cases
score_cache.*
*.prof
endgame_tables/
/game_logs/historical_games/
/game_logs/historical_games_extended/
/game_logs/historical_games_extended_backup/
